

.personal-description{
  font-size: 8px;
  margin: 10px auto 0 auto;
}


@media only screen and (min-width: 480px) {
  .personal-description{
    font-size: 15px;
  }
}

@media only screen and (min-width: 760px) {
  .personal-description{
    font-size: 18px;
  }
}


