.landingImage{
  background-image: url('HaLongBay.jpg');
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  position: relative;
  margin-top: 0px;
  padding: 0px;
}

.landingPage{
  text-align: center;
}

.welcomeText{
  font-size: 30px;
  padding-top: 300px;
}

.hrLine{
  width: 50%;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.landingPage-Script{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: rgb(32,207,116) 1px 0 10px;
}

@media only screen and (min-width: 760px) {
  .welcomeText{
    font-size: 50px;
  }
}