.viewTop{
  display: flex;
  background-color: rgb(32,207,116);
  border: 1px dashed;
}

.pageDescription{
  font-size: 8px;
  margin: 10px auto 0 auto;
}

.viewBox{
  margin: auto 5px auto 5px;
}

@media only screen and (min-width: 480px) {
  .pageDescription{
    font-size: 15px;
  }
}

@media only screen and (min-width: 760px) {
  .pageDescription{
    font-size: 18px;
  }
}


