*{
  box-sizing: border-box;
}

.header{
  margin: 0;
}

.title{
  margin-left: 10px;
}

.loginNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32,207,116);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.home-nav{
  text-decoration: none;
  margin: 6px;
  color: black;
}

.home-nav:hover{
  background-color: #ddd;
  color: #0C0C5C;
}

.public-nav{
  text-decoration: none;
  margin: 6px;
  color: black;
}

.public-nav:hover{
  background-color: #ddd;
  color: #0C0C5C;
}

.my-nav{
  text-decoration: none;
  margin: 6px;
  color: black;
}

.my-nav:hover{
  background-color: #ddd;
  color: #0C0C5C;
}

@media only screen and (min-width: 480px) {
  .loginNav{
    font-size: 20px;
  }
  .home-nav{
    margin: 8px;
  }
  .public-nav{
    margin: 8px;
  }
  .my-nav{
    margin: 8px;
  }
}

@media only screen and (min-width: 760px) {
  .loginNav{
    font-size: 25px;
  }
  .home-nav{
    margin: 15px;
  }
  .public-nav{
    margin: 15px;
  }
  .my-nav{
    margin: 15px;
  }
}



